absl-py
alembic
cloudpickle
colorlog
Farama-Notifications
filelock
gymnasium==1.1.1
matplotlib
networkx
numpy
optuna
packaging
pandas
pillow
protobuf
pyparsing
python-dateutil
PyYAML
scipy
stable_baselines3==2.6.0
tensorboard
torch
tqdm
typing_extensions